spring-learning-ioc/src/main/resources/META-INF/hello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.leofee.com/schema/hello">
    <element name="world">
        <complexType>
            <attribute name ="id" type = "string"/>
            <attribute name ="username" type = "string"/>
        </complexType>
    </element>
</schema>